extends layout

block content
  p Task of
  h1= title
  p Task : Write a function that calculates the Total sales before discount, Total sales after discount, Total amount of money lost via Discount Codes, and finally the average discount per customer for the day as a percentage.
  p To check task hit the API url is localhost:3000/sales
  
